section {
	padding: 0em 1em;
	background: #fff;
}
#titleslide h1 {
	word-spacing: 9999px;
	line-height: 1.2em;
}
#wip {
	float: left;
}
#author {
	float: right;
}
center {
	display: block;
	line-height: 1em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}
.vcenter {
	display: block;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	padding: inherit;
}
#sheaf-pic {
	height: 50%;
	width: 50%;
}
.credit {
	float: right;
	font-size: 60%;
}
.marginal {
	position: absolute;
	right: 0;
	margin-top: .4em;
	padding-right: 1em;
}

